# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# https
myserver.key
myserver.csr
myserver.crt
myserver+3-key.pem
myserver+3.pem
*.pem
*.key
*.csr
*.crt
